<div class="page-header">
  <h1>Editing "<%= @idea.title %>" Idea</h1>
</div>

<%= form_tag(idea_url(@idea), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :post_date, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :post_date, @idea.post_date, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :title, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :title, @idea.title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :description, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :description, @idea.description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :price, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :price, @idea.price, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :category, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :category, options_for_select([ "Painting", "Drawing" ], @idea.category), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :size, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :size, @idea.size, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :status, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :status, options_for_select([ "Open", "Done" ], @idea.status), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :rating, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :rating, options_for_select([ nil, 1,2,3,4,5 ], @idea.rating ), class: 'form-control' %>
    </div>
  </div>

<!--
  <div class="form-group">
    <%= label_tag :buyer_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :buyer_id, @idea.buyer_id, class: 'form-control' %>
    </div>
  </div>
-->

  <div class="form-group">
    <%= label_tag :artist_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
    <%= select_tag :artist_id, options_from_collection_for_select(Artist.all, :id, :full_name), class: 'form-control' %>

    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Idea", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>


<!-- Add images for idea -->

<div class="page-header">
  <h3>Add Image to "<%= @idea.title %>" idea</h3>
</div>

<%= form_tag(idea_images_url, method: 'post', class: 'form-horizontal', multipart: true) do %>
  <div class="form-group">
    <%= label_tag :image, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= file_field_tag :image %>
    </div>
  </div>

  <%= hidden_field_tag :idea_id, @idea.id, class: 'form-control' %>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Add image", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<!-- Show images for idea -->

<div class="page-header">
  <h3>Current Images for "<%= @idea.title %>" idea</h3>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @idea.idea_images.each do |idea_image| %>
      <tr>
        <td><%= image_tag idea_image.image, :height => 50 %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, idea_image_url(idea_image), method: 'delete', data: { confirm: "Do you really want to delete this idea_image?" }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
