<div class="page-header">
  <h1>Ideas</h1>
</div>

<p><%= link_to 'Add a New Idea', new_idea_url, class: 'btn btn-primary' %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Post date</th>
      <th>Title</th>
      <!-- <th>Description</th> -->
      <th>Category</th>
      <th>Size</th>
      <th>Price</th>
      <th>Bids</th>
      <th>Artist</th>
      <th>Status</th>
      <!-- <th>Rating</th> -->
      <!-- <% if buyer_signed_in? == false && artist_signed_in? == false %> -->
        <th>Buyer</th> <!-- only for admin view -->
      <!-- <% end %> -->
      <th>Show</th> 
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.post_date %></td>
        <td><%= idea.title %></td>
        <!-- <td><%= idea.description %></td> -->
        <td><%= idea.category %></td>
        <td><%= idea.size %></td>
        <td>$<%= idea.price %></td>
        <td><%= idea.bids.count %></td>
        <td>
          <% if idea.artist_id != nil %>
            <%= idea.artist.full_name %>
          <% end %>
        </td>
        <td><%= idea.status %></td>
        <!-- <td><%= idea.rating %></td> -->
        <!-- <% if buyer_signed_in? == false && artist_signed_in? == false %> -->
          <td><%= idea.buyer.full_name %></td>
        <!-- <% end %> -->
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, idea_url(idea), class: 'btn btn-primary' %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_idea_url(idea), class: 'btn btn-warning' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, idea_url(idea), method: 'delete', data: { confirm: "Do you really want to delete this idea?" }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>