<div class="page-header">
  <h1><%= @idea.title %></h1>
  <p class="text-info">Status - <%= @idea.status %></p>

<!-- New Bid Form -->

  <% if artist_signed_in? && @idea.status == "Open" %>
    <% if @idea.bids.find_by(current_artist.id) == nil %>

      <%= form_tag(bids_url, method: 'post', class: 'form-horizontal') do %>
        <div class="form-group">
          <%= hidden_field_tag :idea_id, @idea.id, class: 'form-control' %>
        </div>

        <div class="form-group">
          <div class="col-md-offset-0 col-md-6">
            <%= submit_tag "Bid for this project", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
      <% else %>
      <b class="text-info">Bid in place, waiting for buyer to select artist</b>
    <% end %>
  <% end %>
</div>

<!-- Idea description -->

<dl class="dl-horizontal">
  <dt>Post date</dt>
  <dd><%= @idea.post_date %></dd>

  <dt>Description</dt>
  <dd><%= @idea.description %></dd>

  <dt>Price</dt>
  <dd>$<%= @idea.price.round(0) %></dd>

  <dt>Category</dt>
  <dd><%= @idea.category %></dd>

  <dt>Size</dt>
  <dd><%= @idea.size %></dd>

  <dt>Rating</dt>
  <dd><%= @idea.rating %></dd>

  <dt>Selected artist</dt>
  <dd>
    <% if @idea.artist_id != nil %>
      <%= @idea.artist.first_name %> <%= @idea.artist.last_name %>
    <% end %>
  </dd>

  <dt># of bids</dt>
  <dd> <%= @idea.bids.count %>

</dl>

<!-- Images -->

<div class="page-header">
  <h3>Images</h3>
</div> 
     <% a = @idea.id %>
   <% b = IdeaImage.where(:idea_id => a) %>
   
   <% b.each do |b| %>
      <%= image_tag b.image, :height => 200, class: 'img-rounded' %>
   <% end %>

<!-- Rate artist -->


<% if buyer_signed_in? && @idea.status == "Done" && @idea.rating == nil %>
  <div class="page-header">
    <h3>Rate artist</h3>
  </div>  
  <div>
    <p>Please rate your artist with 5 being the best</p>
  </div>
  
  <%= form_tag(idea_url(@idea), method: 'patch', class: 'form-horizontal') do %>

    <%= hidden_field_tag :post_date, @idea.post_date, class: 'form-control' %>
    <%= hidden_field_tag :title, @idea.title, class: 'form-control' %>
    <%= hidden_field_tag :description, @idea.description, class: 'form-control' %>
    <%= hidden_field_tag :price, @idea.price, class: 'form-control' %>
    <%= hidden_field_tag :category, @idea.category, class: 'form-control' %>
    <%= hidden_field_tag :size, @idea.size, class: 'form-control' %>
    <%= hidden_field_tag :status, @idea.status, class: 'form-control' %>
    <%= hidden_field_tag :artist_id, @idea.artist_id, class: 'form-control' %>
    
    <div class="form-group">
      <%= label_tag :rating, "Rating", class: 'col-md-1 control-label' %>
      <div class="col-md-offset-0 col-md-1">
        <%= select_tag :rating, options_for_select([ nil, 1,2,3,4,5 ], @idea.rating ), class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-1 col-md-6">
        <%= submit_tag "Rate Artist", class: 'btn btn-primary' %>
      </div>
    </div>

  <% end %>

<% end %>



<!-- Current Bids -->

<% if artist_signed_in? == false && @idea.status == "Open" %>
  <div class="page-header">
    <h3>Current bids</h3>
  </div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Show Artist Profile</th>
      <th>Average Rating</th>
      <th>Select Artist</th>
    </tr>
  </thead>

  <tbody>
    <% @idea.bids.each do |bid| %>
      <tr>
        <td><%= bid.artist.first_name %> <%= bid.artist.last_name %></td>
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, artist_url(bid.artist), class: 'btn btn-primary' %></td>
        <!--<td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_bid_url(bid), class: 'btn btn-warning' %></td> -->
        <!-- <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, bid_url(bid), method: 'delete', data: { confirm: "Do you really want to delete this bid?" }, class: 'btn btn-danger' %></td> -->
        
        <td> <!-- average artist rating calculation -->
          <% a = bid.artist_id %>
           <% b = Idea.where(:artist_id => a) %>
           <% c = 0.0 %>
           <% b.each do |b| %>
            <% if b.rating != nil %>
              <% c = b.rating + c %>
            <% end %>
          <% end %>
          <% d = (c/b.count).round(1) %>
          <% if d >= 0 %>
            <%= d %>
          <% else %>
            <%= "-" %>
          <% end %>
        </td>

        <td>

          <%= form_tag(idea_url(@idea), method: 'patch', class: 'form-horizontal') do %>

            <%= hidden_field_tag :post_date, @idea.post_date, class: 'form-control' %>
            <%= hidden_field_tag :title, @idea.title, class: 'form-control' %>
            <%= hidden_field_tag :description, @idea.description, class: 'form-control' %>
            <%= hidden_field_tag :price, @idea.price, class: 'form-control' %>
            <%= hidden_field_tag :category, @idea.category, class: 'form-control' %>
            <%= hidden_field_tag :size, @idea.size, class: 'form-control' %>
            <%= hidden_field_tag :status, "Done", class: 'form-control' %>
            <%= hidden_field_tag :rating, nil, class: 'form-control' %>
            <%= hidden_field_tag :artist_id, bid.artist_id, class: 'form-control' %>

            <div class="form-group">
              <div class="col-md-6">
                <%= submit_tag "Pick Artist", class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>

        </td>

      </tr>

    <% end %>
  </tbody>

<% end %>




