<div class="page-header">
  <h1>Artists</h1>
</div>

<p><%= link_to 'Add a New Artist', new_artist_url, class: 'btn btn-primary'%></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Bio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @artists.each do |artist| %>
    <tr>
      <td><%= artist.first_name %></td>
      <td><%= artist.last_name %></td>
      <td><%= artist.email %></td>
      <td><%= artist.bio %></td>
      <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, artist_url(artist), class: 'btn btn-primary'  %></td>
      <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_artist_url(artist), class: 'btn btn-warning' %></td>
      <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, artist_url(artist), method: 'delete', data: { confirm: "Do you really want to delete this buyer?" }, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>






