<div class="page-header">
	<h1><%= @artist.full_name %> - Artist</h1>
	<p class="text-info">Rating:  
		<% a = @artist.id %>
	   	<% b = Idea.where(:artist_id => a) %>
	  	<% c = 0.0 %>
	   
	   	<% b.each do |b| %>
	    	<% if b.rating != nil %>
	      		<% c = b.rating + c %>
	    	<% end %>
	  	<% end %>
	  
	  	<% d = (c/b.count).round(1) %>
	  	<% if d >= 0 %>
	   		<%= d %>
	  	<% else %>
	    	<%= "-" %>
	  	<% end %>
	</p>
</div>

<div class="page-header">
	<h3>Bio</h3>
	<%= @artist.bio %>
</div> 

<div class="page-header">
	<h3>Portfolio</h3>
	   <% a = @artist.id %>
   <% b = PortfolioImage.where(:artist_id => a) %>
   
   <% b.each do |b| %>
   	<%= image_tag b.image, :height => 200, class: 'img-rounded' %>
   <% end %>
</div> 
