<div class="page-header">
  <h1>Editing Bid #<%= @bid.id %></h1>
</div>

<%= form_tag(bid_url(@bid), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :idea_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :idea_id, options_from_collection_for_select(Idea.all, :id, :title), class: 'form-control' %>



    </div>
  </div>

  <div class="form-group">
    <%= label_tag :artist_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :artist_id, @bid.artist_id, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Bid", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
