<div class="page-header">
  <h1>Editing Buyer #<%= @buyer.id %></h1>
</div>

<%= form_tag(buyer_url(@buyer), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :first_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :first_name, @buyer.first_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :last_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :last_name, @buyer.last_name, class: 'form-control' %>
    </div>
  </div>

<!--
  <div class="form-group">
    <%= label_tag :email, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :email, @buyer.email, class: 'form-control' %>
    </div>
  </div>
-->

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Buyer", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

  <div class="row">
     <div class="col-md-offset-2 col-md-6">
       or <%= link_to "Manage Your Account", edit_buyer_registration_path, class: 'btn btn-warning' %>
     </div>
  </div>
